.container__small-card{
  width: 900px;

}
.container__small-card-content {
  display: flex;
  flex-direction: row;

}
.small-card__photo > img {
  width: 200px;
  min-width: 300px;
  margin: 10px;
}
.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}



a {
  text-decoration: none;
}
